<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="0" name="Surefire suite">
    <test thread-count="1" verbose="0" name="Surefire test">
        <classes>
            <class name="Szymon7.test.RegisterTest"/>
            <class name="Szymon7.test.TransferFundsTest"/>
        </classes>
    </test>
</suite>