<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Blazedemo awesome suite">
    <parameter name="url" value="http://www.blazedemo.com"/>
    <test thread-count="5" verbose="0" name="Blazedemo smoke tests" parallel="classes">
        <classes>
            <class name="test.automation.school.test.BlazedemoAssertionTest"/>
            <class name="test.automation.school.test.BlazedemoScenarioAndDataProviderTest"/>
        </classes>
    </test>
</suite>